<div class="row">
  <div class="col-4">
    <div class="form-horizontal">
      <div class="form-group">
        <label for="email">Search by Email:</label>
        <input type="email" class="form-control" #email placeholder="Enter Email" name="email">

      </div>

      <button type="button" class="btn btn-primary">Submit</button>
    </div>
  </div>
  <div class="col-8">
   <div>ID: {{empId}}</div>
   <div>First Name: {{empfName}}</div>
   <div>Last Name: {{emplName}}</div>
   <div>Email: {{empEmail}}</div>
<br />
    <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let user of employeeInfo">
        <td>{{user.id}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th><input type="text" placeholder="Search ID" name="search-id"/></th>
        <th><input type="text" placeholder="Search first name" name="search-first-name"/></th>
        <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
      </tr>
    </tfoot>
    </table>
    
  </div>
</div>

