
<form class="form-horizontal" [formGroup]="formdata">
    <div class="form-group">
      <label for="fname">First NAME:</label>
      <input type="fname" class="form-control" #fname placeholder="Enter First Name" name="fname" formControlName="fname">
    </div>
    <div class="form-group">
      <label for="lname">Last Name:</label>
      <input type="text" class="form-control" #lname placeholder="Enter Last Name" name="lname" formControlName="lname">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" #email placeholder="Enter Email" name="email" formControlName="email">
      <small class="text-danger" *ngIf="!formdata.get('email').valid && formdata.get('email').touched">Email is not valid</small>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile:</label>
        <input type="text" class="form-control" #mobile placeholder="Enter Mobile" name="mobile" formControlName="mobile">
        <small class="text-danger" *ngIf="!formdata.get('mobile').valid && formdata.get('mobile').touched">Mobile No is not valid</small>
      </div>
    <button type="submit" [disabled]="!formdata.valid" class="btn btn-primary">Submit</button>
  </form>